*{
    margin:0;
    padding: 0;
}

/* LoginScreen */



.loginScreen{
    height: 656px;

    background-color: #f0f2f5;
}

.loginText img{
    height: 106px;
    margin-left: 90px;
    margin-top: 160px;
}

.loginText h2{
    display: flex;
    margin-bottom: 100px; 
    margin-left: 120px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: normal;
}

.login{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
    width: 346px;
    height: 335px;
    padding: 28px 0 20px;
    border: none;
    border-radius: 8px;
    display: block;
    align-items: center;
    margin-top: 130px;
    margin-right: 150px;
}


.login input{
    margin-left: auto;
    margin-right: auto;
    width: 314px;
    height: 44px;
   
}

.btn-1{
    width: 314px;
}

.btn-2 button{
    background-color: #42b72a !important;
    border: none;
}

.btn-2 button a{
    font-size: 18px !important;
    font-weight: 400;
}

.login button a{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.login hr{
    width: 294px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

.languages ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    font-size: 12px;
}

.languages ul li a{
    color: gray;
    font-size: 12px;
}

.moreLanguage a {
    text-decoration: none;
    border: 1px solid gray;
    color: gray;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
}

.footerLinks ul li{
    margin-right: 10px;
}

.footerLinks ul li a{
    font-size: 11px;
}

.footerLinks p{
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
